display-flex,
.entry-content,
.form-row,
.label-flex,
.form-radio-group {
  display: flex;
  display: -webkit-flex;
}
list-type-ulli,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@font-face {
  font-weight: 300;
font-family:Poppins;
src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

}
@font-face {
  font-weight: 400;
font-family:Poppins;

src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

}
@font-face {
  font-weight: 500;
font-family:Poppins;

    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
    
}
@font-face {
  font-weight: 600;
font-family:Poppins;
src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


}
@font-face {
  font-weight: 700;
font-family:Poppins;
src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


}
@font-face {
  font-weight: 800;
  font-family:Poppins;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
  
  
}

a:focus
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}
input,
select,
textarea {
  
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}
input[type="checkbox"] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
}
input[type="radio"] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important;
}
input:-webkit-autofill {
  box-shadow: 0 0 0 30px transparent inset;
  -moz-box-shadow: 0 0 0 30px transparent inset;
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  -o-box-shadow: 0 0 0 30px transparent inset;
  -ms-box-shadow: 0 0 0 30px transparent inset;
  background-color: transparent !important;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
p {
  margin: 0;
  font-weight: 600;
  color: #fff;
}
h2 {
  line-height: 1.2;
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.clear {
  clear: both;
}
.outer{
  width: 90vw;
  height: 90vh;
  padding:auto;

}
.main {
  margin: auto;
  width: 90vw;
  height: 80vh;
  padding: 20px 30px;
}
/* Your existing CSS */

/* Add the following changes */

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #1a1212;
  border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  border-color: #32719e;
}
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #201414;
  border-radius: 3px;
  background-color: white;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #32719e;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #21526b;
}

/* Add responsiveness */


.entry-img {
 
    margin-top: -120px;
    margin-right: 10px;
    width: 50vh;
    height: 40vh;

  /* margin-bottom: -8px; */
}
hr{
 
    width: 100%;
}
.full{
    width: 100%;

}
.entry-img img {
    background-blend-mode: lighten;
    margin-top: 0px;
    height: 100vh;
    margin-left: -30px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(15, 58, 228, 0.307);
}
.center{
    text-align: center;
  width: 40vw;
  padding-left: 100px;
  margin:auto}
.entry-form {

  margin-top: 20px;
  margin-left: 30px;

  width: 100%;
}
.entry-form-login{

  width: 50%;
  margin-top: 50px;
}
.entry-form-login input hr{

  width: 50%;
}
.entry-img-content {
  position: absolute;
  top: 20%;
  left: 50%;
  /* transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%)
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  text-align: center; 
  width: 100%;
}
.register-form {
  padding: 93px 115px 90px 80px;
  margin-bottom: -8px;
}
.form-row {
  margin: 0 -30px;
}
.form-row .form-group {
  width: 50%;
  padding: 0 30px;
}
.form-input,
.form-select,
.form-radio {
  margin-bottom: 23px;
}
input {
    text-align: center;
  display: block;
  width: 100%;
}
label {
  font-weight: 700;
text-align: center;
display: block;
  text-transform: uppercase;
  margin-bottom: 7px;
}
label.required {
  position: relative;
}
label.required:after {
  content: "*";
  margin-left: 2px;
  color: #b90000;
}
input {
  box-sizing: border-box;
  border: 1px solid #868383;
  padding: 14px 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  font-size: 14px;
}nput:focus {
  border: 1px solid #32719e;
}
.label-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
}
.label-flex label {
  width: auto;
}
.form-link {
  font-size: 12px;
  color: #222;
  text-decoration: none;
  position: relative;
}
.form-link:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #d7d7d7;
  left: 0;
  bottom: 12px;
}
.form-radio {
  margin-bottom: 18px;
}
.form-radio input {
  width: auto;
  display: inline-block;
}
.radio-label {
  padding-right: 72px;
}
.form-radio-group {
  padding-bottom: 10px;
  padding-top: 12px;
}
.form-radio-item {
  position: relative;
  margin-right: 30px;
}
.form-radio-item label {
  font-weight: 500;
  padding-left: 30px;
  position: relative;
  z-index: 9;
  display: block;
  cursor: pointer;
  text-transform: none;
}
.underline{
  text-decoration: underline ;
  /* make font italic */
  
  font-style: italic;
}
.check {
  display: inline-block;
  position: absolute;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  height: 18px;
  width: 18px;
  top: 2px;
  left: 0;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}
.check:before {
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  top: 3px;
  left: 3px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
input[type="radio"] {
  position: absolute;
  visibility: hidden;
}
input[type="radio"]:checked ~ .check {
  border: 1px solid #32719e;
}
input[type="radio"]:checked ~ .check::before {
  background: #32719e;
}
ul {
  background: 0 0;
  position: relative;
  z-index: 9;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}
ul li {
  padding: 13px 20px;
  z-index: 2;
  color: #222;
}
ul li:not(.init) {
  display: none;
  background: #fff;
  color: #222;
  padding: 5px 10px;
}
ul li:not(.init):hover,
ul li.selected:not(.init) {
  background: #32719e;
  color: #fff;
}
li.init {
  cursor: pointer;
  position: relative;
}
li.init:after {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-size: 22px;
  color: #222;
  font-family: material-design-iconic-font;
  content: "\f2f2";
}

.form-submit {
  padding-left: 20px; 
  width: 50%;
  margin: auto;
  display: flex;
  text-align: right;
  justify-content: flex-end;
}
.submit {
  width: 150px;
  height: 50px;
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}
#reset {
  background: #fff;
  color: #999;
  border: 2px solid #ebebeb;
}
#reset:hover {
  border: 2px solid #32719e;
  background: #32719e;
  color: #fff;
}
#submit {
  background: #32719e;
  color: #fff;
  margin-right: 25px;
}
#submit:hover {
  background-color: #263477;
}
.form-input {
  position: relative;
}
label.error {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
label.error:after {
  font-family: material-design-iconic-font;
  position: absolute;
  content: "\f1f8";
  right: 20px;
  top: 37px;
  font-size: 23px;
  color: #c70000;
}
input.error {
  border: 1px solid #c70000;
}
.select-list {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 47px;
}
.select-list select{
  border-radius: 5px;
  text-align: center;

  height: 50px;
  /* margin-bottom: 47px; */
}
.list-item {
  position: absolute;
  width: 100%;
  z-index: 99;
}
@media screen and (max-width: 1024px) {
  .container {
    width: calc(100% - 30px);
    max-width: 100%;
    margin: 0 auto;
  }
  .entry-img {
    display: none;
  }
  input hr{
    width: 120%;
  }
  .entry-form {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 100px; */
    width: 100%;
    height: 90%;
  }
  .register-form {
    padding: 100px 80px 90px;
  }
  .submit {
    margin-left: 10px;
    width: 60%;
  }
}
@media screen and (max-width: 992px) {
  .entry-content {
    width: 100%;
  }
  .form-radio-item {
    margin-right: 15px;
  }
  .register-form {
    padding: 93px 30px 90px;
  }
}
@media screen and (max-width: 768px) {

  .submit {
    margin-left: 10px;
    width: 60%;
  }
  .form-row {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    margin: 0;
  }
  .form-row .form-group {
    width: 100%;
    padding: 0 0;
  }
}
@media screen and (max-width: 480px) {
  .submit {
    margin-left: 10px;
    width: 60%;
  }
  #submit {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .form-radio-group {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
  }
}
























